<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="NUnitPath" value="C:\Program Files (x86)\NUnit 2.6.2\bin\nunit-console.exe"/>
    <add key="OpenCoverPath" value="C:\Dev\OpenCover\OpenCover.Console.exe"/>
    <add key="ReportGeneratorPath" value="C:\Dev\ReportGenerator\bin\ReportGenerator.exe"/>
  </appSettings>
</configuration>